@charset "utf-8";

$mobile: 'screen and (max-width:668px)';

#wrap {
	width: 1280px;
	margin: 0 auto;

	@media #{$mobile} {
		width: 100%;
		margin: 0 auto;
	}

	> header {
		> div {
			position: relative;
			height: 800px;
			background-color: #5f0080;

			@media #{$mobile} {
				height: 600px;
			}

			> .logo {
				> img {
					@media #{$mobile} {
						position: absolute;
						top: 60px;
						width: 100px;
						height: 58px;
					}
					position: absolute;
					left: 41%;
					top: 85px;
					width: 200px;
				} //end of img

				&:before,
				&:after {
					@media #{$mobile} {
						top: 87px;
						width: 20%;
					}
					display: block;
					position: absolute;
					top: 130px;
					width: 275px;
					height: 1px;
					background-color: #fff;
					content: '';
				}

				&:before {
					left: 16%;
				}

				&:after {
					right: 16%;
				}
			} //end of .logo

			> h1 {
				@media #{$mobile} {
					left: 20%;
					top: 140px;
					font-size: 22px;
					line-height: 1.6;
				}
				position: absolute;
				top: 187px;
				left: 25%;
				color: #fff;
				font-weight: 800;
				font-size: 55px;
				line-height: 1.2;
				text-align: center;

				> strong {
					font-size: 20px;
					font-weight: 800;
					@media #{$mobile} {
						font-size: 14px;
					}
				}
			} //end of h1

			> .maket-phone {
				> img {
					position: absolute;
					left: 35%;
					bottom: 0;
					@media #{$mobile} {
						width: 278px;
						left: 25%;
					}
				} //end of img
			} //end of .maket-phone
		} //end of div
	} //end of header

	> section {
		> .article_1 {
			> .container {
				> p {
					@media #{$mobile} {
						font-size: 14px;
					}
					&:first-child {
						width: 104px;
						height: 50px;
						margin: 50px auto;
						text-indent: -9999px;
						> span {
							display: block;
							width: 100%;
							height: 100%;
							background-image: url(./../images/nom-1.png);
						}
					}

					color: darken(#ccc, 35%);
					font-weight: 900;
					font-size: 18px;
					text-align: center;
					line-height: 1.4;
				} //end of p

				> h2 {
					margin: 50px auto;
					color: #5f0080;
					font-size: 38px;
					font-weight: 800;
					text-align: center;

					@media #{$mobile} {
						font-size: 28px;
						margin: 30px auto;
					}
				} //end of h2

				> ul {
					width: 520px;
					margin: 50px 400px;
					@media #{$mobile} {
						margin: 0 auto;
					}
					> li {
						@media #{$mobile} {
							margin-left: 40px;
							font-size: 12px;
							line-height: 1.8;
						}
						&:first-child {
							margin-top: 40px;
							line-height: 1.4;
						}

						list-style: initial;
						color: #5f0080;
						font-weight: 800;
						font-size: 15px;
						opacity: 0.6;
					} //end of li
				} //end of ul

				> .opt {
					@media #{$mobile} {
						margin-top: 57px;
					}
					position: relative;
					> figure {
						@media #{$mobile} {
							width: 170px;
							height: 40px;
							> img {
								width: 100%;
							}
						}
						width: 212px;
						height: 47px;
						margin: 0 auto;

						&:before {
							@media #{$mobile} {
								width: 157px;
							}
							display: block;
							position: absolute;
							top: 50%;
							left: 0;
							width: 534px;
							height: 1px;
							background-color: #5f0080;
							content: '';
						}

						&:after {
							@media #{$mobile} {
								width: 157px;
							}
							display: block;
							position: absolute;
							top: 50%;
							right: 0;
							width: 534px;
							height: 1px;
							background-color: #5f0080;
							content: '';
						}
					} //end of figure
				} //end of .opt

				> .option_1 {
					@media #{$mobile} {
						width: 500px;
						height: 700px;
						margin: 0 auto;
					}
					position: relative;
					width: 820px;
					margin: 75px auto;
					> figure {
						display: flex;
						@media #{$mobile} {
							display: block;
						}
						> a {
							display: block;
							height: 400px;
							> img {
								@media #{$mobile} {
									top: 7%;
									left: 17%;
								}
								position: absolute;
								left: 0;
							}
						}

						> figcaption {
							> ul {
								@media #{$mobile} {
									top: 70%;
									right: 11%;
								}
								position: absolute;
								top: 35%;
								right: 5%;

								> li {
									ol {
										> li {
											> a {
												display: block;
												color: darken(#ccc, 48%);
												font-size: 24px;
												font-weight: 600;
											}
										} //end of li
									} //end of ol

									&:nth-child(2) {
										width: 160px;
										height: 50px;
										margin-top: 30px;
										margin-left: 50px;

										> a {
											display: block;
											color: #8f8d8d;
											font-size: 28px;
											font-weight: 900;
											text-align: center;
											background-image: url(./../images/outline.png);
											background-repeat: no-repeat;
											background-position: center 5px;
										}
									}

									&:nth-child(3) {
										position: absolute;
										top: 50%;
										right: 17%;
										width: 80px;
										height: 50px;

										> a {
											display: block;
											color: #5f0080;
											font-size: 28px;
											font-weight: 900;
										}
									}
								} //end of li
							} //end of ul
						} //end of figcaption
					} //end of figure
				} //end of option_1

				> .option_2 {
					@media #{$mobile} {
						width: 500px;
						height: 620px;
						margin: 0 auto;
					}
					position: relative;
					width: 820px;
					margin: 75px auto;
					> figure {
						> a {
							display: block;
							height: 400px;
							> img {
								@media #{$mobile} {
									left: 17%;
								}
								position: absolute;
								right: 0;
							}
						}

						> figcaption {
							> ul {
								@media #{$mobile} {
									top: 72%;
									left: 8%;
								}
								position: absolute;
								top: 35%;
								left: 5%;

								> li {
									ol {
										> li {
											> a {
												display: block;
												color: darken(#ccc, 48%);
												font-size: 24px;
												font-weight: 600;
											}
										} //end of li
									} //end of ol

									&:nth-child(2) {
										width: 160px;
										height: 50px;
										margin-top: 30px;
										margin-left: 50px;

										> a {
											display: block;
											color: #8f8d8d;
											font-size: 28px;
											font-weight: 900;
											text-align: center;
											background-image: url(./../images/outline.png);
											background-repeat: no-repeat;
											background-position: center 5px;
										}
									}

									&:nth-child(3) {
										position: absolute;
										top: 50%;
										right: 17%;
										width: 80px;
										height: 50px;

										> a {
											display: block;
											color: #5f0080;
											font-size: 28px;
											font-weight: 900;
										}
									}
								} //end of li
							} //end of ul
						} //end of figcaption
					} //end of figure
				} //end of .option_2

				> .option_3 {
					@media #{$mobile} {
						width: 500px;
						height: 700px;
						margin: 0 auto;
					}
					position: relative;
					width: 820px;
					margin: 75px auto;
					> figure {
						display: flex;
						@media #{$mobile} {
							display: block;
						}
						> a {
							display: block;
							height: 400px;
							> img {
								position: absolute;
								left: 0;
								@media #{$mobile} {
									top: 7%;
									left: 17%;
								}
							}
						}

						> figcaption {
							> ul {
								@media #{$mobile} {
									top: 70%;
									right: 11%;
								}
								position: absolute;
								top: 35%;
								right: 5%;

								> li {
									ol {
										> li {
											> a {
												display: block;
												color: darken(#ccc, 48%);
												font-size: 24px;
												font-weight: 600;
											}
										} //end of li
									} //end of ol

									&:nth-child(2) {
										width: 160px;
										height: 50px;
										margin-top: 30px;
										margin-left: 50px;

										> a {
											display: block;
											color: #8f8d8d;
											font-size: 28px;
											font-weight: 900;
											text-align: center;
											background-image: url(./../images/outline.png);
											background-repeat: no-repeat;
											background-position: center 5px;
										}
									}

									&:nth-child(3) {
										position: absolute;
										top: 50%;
										right: 17%;
										width: 80px;
										height: 50px;

										> a {
											display: block;
											color: #5f0080;
											font-size: 28px;
											font-weight: 900;
										}
									}
								} //end of li
							} //end of ul
						} //end of figcaption
					} //end of figure
				} //end of .option_3
			} //end of .container
		} //end of .article_1

		> .article_2 {
			@media #{$mobile} {
				width: 500px;
			}

			width: 600px;
			height: 750px;
			margin: 150px auto;

			> .container {
				> span {
					> img {
						display: block;
						width: 104px;
						height: 50px;
						margin: 15px auto;
					}
				} //end of span

				> h2 {
					@media #{$mobile} {
						margin: 40px 0 auto;
						font-size: 24px;
					}
					margin: 70px 0 auto;
					color: #5f0080;
					font-size: 34px;
					font-weight: 900;
					text-align: center;
				} //end of h2

				> p {
					@media #{$mobile} {
						font-size: 13px;
						line-height: 1.6;
					}
					margin: 30px auto;
					color: #686767;
					font-size: 17px;
					font-weight: 900;
					text-align: center;
				} //end of p

				> figure {
					> img {
						@media #{$mobile} {
							width: 420px;
						}
						width: 525px;
						margin: 0 auto;
					}
					> figcaption {
						> ul {
							width: 200px;
							margin: 0 auto;
							> li {
								list-style: initial;
								color: #5f0080;
								font-size: 14px;
								font-weight: 900;
								opacity: 0.6;
							}
						}
					} //end of figcaption
				} //end of figure
			} //end of .container
		} //end of .article_2

		> .article_3 {
			@media #{$mobile} {
				width: 500px;
				height: 1000px;
			}
			position: relative;
			width: 1280px;
			height: 800px;
			margin-top: -95px;
			background-color: #f6f6f6;

			> .container {
				position: absolute;
				top: 68px;
				left: 0;
				right: 0;
				> span {
					> img {
						display: block;
						width: 104px;
						height: 50px;
						margin: 15px auto;
					}
				} //end of span

				> h2 {
					@media #{$mobile} {
						margin: 47px 10px auto;
						font-size: 24px;
					}
					margin: 55px 0 auto;
					color: #5f0080;
					font-size: 34px;
					font-weight: 900;
					text-align: center;
				} //end of h2

				> p {
					@media #{$mobile} {
						font-size: 14px;
					}
					margin: 30px auto;
					color: #686767;
					font-size: 17px;
					font-weight: 900;
					text-align: center;
				} //end of p

				> figure {
					width: 1200px;
					height: 450px;
					margin: 0 auto;

					> img {
						margin: 0 40px;

						&:first-child {
							position: absolute;
							left: 100px;
							@media #{$mobile} {
								top: 37%;
								left: 5%;
								width: 370px;
							}
						}

						&:nth-child(2) {
							position: absolute;
							right: 100px;

							@media #{$mobile} {
								top: 74%;
								left: 5%;
								width: 370px;
							}
						}
					}

					> figcaption {
						> ul {
							@media #{$mobile} {
								width: 320px;
								left: 100px;
								bottom: -170px;
							}
							position: absolute;
							left: 470px;
							bottom: 50px;
							> li {
								@media #{$mobile} {
									font-size: 13px;
								}
								list-style: initial;
								color: #5f0080;
								font-size: 16px;
								font-weight: 900;
								line-height: 1.8;
								opacity: 0.5;
							}
						}
					} //end of figcaption
				} //end of figure
			} //end of .container
		} //end of .article_3

		> .article_4 {
			@media #{$mobile} {
				width: 500px;
			}
			position: relative;
			width: 1280px;
			height: 800px;
			> .container {
				position: absolute;
				top: 68px;
				left: 0;
				right: 0;

				> span {
					> img {
						display: block;
						width: 104px;
						height: 50px;
						margin: 15px auto;
					}
				} //end of span

				> h2 {
					@media #{$mobile} {
						margin: 47px 10px auto;
						font-size: 24px;
					}
					margin: 55px 0 auto;
					color: #5f0080;
					font-size: 34px;
					font-weight: 900;
					text-align: center;
				} //end of h2

				> p {
					@media #{$mobile} {
						font-size: 13px;
						line-height: 1.6;
					}
					margin: 30px auto;
					color: #686767;
					font-size: 17px;
					font-weight: 900;
					text-align: center;
				} //end of p

				> figure {
					width: 700px;
					height: 400px;
					margin: 0 auto;
					> img {
						@media #{$mobile} {
							margin-top: 57px;
							margin-left: 70px;
							width: 370px;
						}
						display: block;
						margin: 20px 125px;
					}

					> figcaption {
						> ul {
							@media #{$mobile} {
								width: 410px;
								left: 57px;
								bottom: 50px;
							}
							position: absolute;
							left: 400px;
							bottom: 0;
							> li {
								@media #{$mobile} {
									font-size: 13px;
								}
								list-style: initial;
								color: #5f0080;
								font-size: 16px;
								font-weight: 900;
								line-height: 1.8;
								opacity: 0.6;
							}
						}
					}
				}
			} //end of .container
		} //end of .article_4
	} //end of section

	> main {
		@media #{$mobile} {
			width: 500px;
			height: 1200px;
		}
		position: relative;
		width: 1280px;
		height: 810px;
		margin: 0 auto;
		background-color: #f6f6f6;

		> h1 {
			@media #{$mobile} {
				width: 100%;
				font-size: 28px;
				> span {
					display: flex;
					justify-content: center;
					align-items: center;
				}
			}
			position: absolute;
			top: 68px;
			width: 1280px;
			color: #5f0080;
			font-size: 35px;
			text-align: center;
		}

		.container {
			@media #{$mobile} {
				position: relative;
				width: 470px;
				height: 500px;
			}
			> .box {
				@media #{$mobile} {
					display: block;
					position: absolute;
					top: 170px;
				}
				display: flex;
				justify-content: space-around;
				width: 1080px;
				margin: 0 auto;
				> .box_1,
				.box_2,
				.box_3,
				.box_4 {
					@media #{$mobile} {
						margin: 0;
					}
					margin-top: 154px;
					margin-right: -34px;

					&.box_1 {
						> figure {
							> p {
								> a {
									display: block;
									background-image: url(./../images/pic-4.png);
								}
							}
							> figcaption {
								@media #{$mobile} {
									position: absolute;
									top: 278px;
									left: 70px;
								}
							}
						}

						@media #{$mobile} {
							display: flex;
							margin: 0;
							position: absolute;
							left: -15px;
						}
						margin-left: -34px;
					} //end of &.box_1

					&.box_2 {
						@media #{$mobile} {
							position: absolute;
							left: 225px;
						}
						> figure {
							> p {
								> a {
									display: block;
									background-image: url(./../images/pic-5.png);
								}
							}
							> figcaption {
								@media #{$mobile} {
									position: absolute;
									top: 278px;
									left: 110px;
								}
							}
						}
					}

					&.box_3 {
						@media #{$mobile} {
							position: absolute;
							left: -15px;
							top: 350px;
						}
						> figure {
							> p {
								> a {
									display: block;
									background-image: url(./../images/pic-6.png);
								}
							}
							> figcaption {
								@media #{$mobile} {
									position: absolute;
									top: 278px;
									left: 92px;
								}
							}
						}
					}

					&.box_4 {
						@media #{$mobile} {
							position: absolute;
							left: 225px;
							top: 350px;
						}
						> figure {
							> p {
								> a {
									display: block;
									background-image: url(./../images/pic-7.png);
								}
							}
							> figcaption {
								@media #{$mobile} {
									position: absolute;
									top: 278px;
									left: 78px;
								}
							}
						}
					}
					> figure {
						@media #{$mobile} {
							display: flex;
							align-items: center;
						}
						> p {
							text-indent: -9999px;
							> a {
								display: block;
								height: 100%;
							}
							@media #{$mobile} {
								display: inline;
								width: 217px;
								height: 270px;
							}
							width: 249px;
							height: 319px;
							border: none;
							&:hover {
								> a {
									@media #{$mobile} {
										display: block;
										width: 217px;
										height: 270px;
										border: none;
									}
									display: block;
									width: 249px;
									height: 319px;
									border: 4px solid #5f0080;
									box-sizing: border-box;
								}
							}
						}
						> figcaption {
							> a {
								@media #{$mobile} {
									font-size: 14px;
								}
								display: block;
								margin-top: 24px;
								color: #7e7c7c;
								font-size: 18px;
								font-weight: 900;
								text-align: center;
							}
						} //end of figcaption
					} //end of figure
				}
			} //end of .box
		} //end of .container

		> .btn {
			> .container {
				@media #{$mobile} {
					display: block;
					width: 500px;
				}
				display: flex;
				position: relative;
				width: 850px;
				height: 84px;
				margin: 94px auto;

				> .btn_1 {
					@media #{$mobile} {
						position: absolute;
						top: 357px;
						left: 62px;
					}

					position: absolute;
					left: 0;
					width: 381px;
					height: 84px;
					line-height: 84px;
					background-image: url(./../images/btn-2.png);
					> a {
						display: block;
						margin-right: 50px;
						color: #fff;
						font-size: 26px;
						font-weight: 900;
						text-align: center;
					}

					&:hover {
						background-image: url(./../images/btn-1.png);
						> a {
							display: block;
							color: #5f0080;
						}
					}
				}

				> .btn_2 {
					@media #{$mobile} {
						position: absolute;
						top: 470px;
						left: 62px;
					}
					position: absolute;
					right: 0;
					width: 381px;
					height: 84px;
					line-height: 84px;
					background-image: url(./../images/btn-2.png);

					> a {
						display: block;
						margin-right: 34px;
						color: #fff;
						font-size: 26px;
						font-weight: 900;
						text-align: center;
					}

					&:hover {
						background-image: url(./../images/btn-1.png);
						> a {
							display: block;
							color: #5f0080;
						}
					}
				}
			}
		} //end of .btn
	} //end of main

	> footer {
		@media #{$mobile} {
			width: 500px;
			height: 600px;
		}
		width: 1200px;
		height: 370px;
		margin: 0 auto;
		margin-top: 70px;
		> h3 {
			@media #{$mobile} {
				margin-left: 10px;
			}
			margin-left: 50px;
			font-size: 18px;
			font-weight: 900;
		} //end of h3
		> div {
			@media #{$mobile} {
				margin-left: 10px;
			}
			position: relative;
			display: flex;
			margin-left: 50px;
			> .container {
				> ul {
					position: relative;
					&:first-of-type {
						display: flex;
						margin-top: 50px;

						> li {
							&:nth-child(2),
							&:nth-child(3) {
								position: absolute;
								left: 140px;
								width: 110px;
							}

							&:nth-child(2) {
								color: #494949;
							}

							&:nth-child(3) {
								top: 16px;
								color: #8f8d8d;
							}
							> ol {
								> li {
									font-size: 24px;
									font-weight: 900;
								}
							}
						} //end of li
					} //end of &:first-of-type

					&:nth-of-type(2),
					&:nth-of-type(3) {
						display: flex;
						margin-top: 50px;

						> li {
							&:nth-child(2),
							&:nth-child(3) {
								position: absolute;
								left: 140px;
								width: 300px;
							}

							&:nth-child(2) {
								color: #494949;
							}

							&:nth-child(3) {
								top: 16px;
								color: #8f8d8d;
							}
							> ol {
								> li {
									width: 125px;
									height: 34px;
									font-size: 14px;
									font-weight: 600;
									text-align: center;
									line-height: 34px;
									border: 1px solid #7e7c7c;

									> a {
										display: block;
										color: #3d3d3d;
									}
								}
							}
						} //end of li
					}
				} //end of ul
			} //end of .container

			> .container-box {
				@media #{$mobile} {
					top: 240px;
					left: 10px;
				}
				position: absolute;
				right: 30px;
				margin-top: 50px;

				> .nav {
					> ul {
						@media #{$mobile} {
							position: absolute;
							left: -17px;
							padding: 0;
							width: 480px;
						}
						display: flex;
						justify-content: space-evenly;
						width: 600px;
						> li {
							@media #{$mobile} {
								font-size: 13px;
							}
							font-size: 15px;
							&:nth-child(5) {
								font-weight: 900;
							}
							> a {
								display: block;

								&:hover {
									color: #5f0080;
								}
							}
						}
					}
				} //end of nav

				> .txt {
					@media #{$mobile} {
						margin-top: 20px;
						margin-left: -5px;
					}
					position: absolute;
					right: 146px;
					margin-top: 34px;
					color: #7e7c7c;

					> p {
						line-height: 1.4;

						> a {
							color: #5f0080;
						}
					}

					> address {
						margin-top: 25px;
					}
				} //end of .txt

				> .sns {
					@media #{$mobile} {
						top: 230px;
						right: 278px;
					}
					position: absolute;
					top: 190px;
					right: 400px;
					> ul {
						display: flex;
						padding: 10px;
						> li {
							margin-right: 5px;
						}
					}
				} //end of .sns
			} //end of .container-box
		} //end of div
	} //end of footer
	> .footer {
		@media #{$mobile} {
			width: 480px;
		}
		width: 1280px;
		height: 170px;
		border-top: 1px solid #c4c3c3;

		> .container {
			@media #{$mobile} {
				width: 100%;
				padding: 0;
				margin-top: 10px;
			}
			display: flex;
			margin-top: 20px;
			padding: 0 70px;
			> .box_1 {
				@media #{$mobile} {
					margin: 0;
				}
				margin-right: 20px;
				> ul {
					> li {
						@media #{$mobile} {
							width: 160px;
							display: flex;
						}
						width: 300px;
						color: #8f8d8d;
						> ol {
							@media #{$mobile} {
								float: none;
								margin: 0;
							}
							float: left;
							margin-right: 10px;
						}
					} //end of li
				} //end of ul
			} //end of .box_1

			> .box_2 {
				margin-right: 20px;
				@media #{$mobile} {
					margin: 0;
				}
				> ul {
					> li {
						@media #{$mobile} {
							display: flex;
							width: 160px;
						}
						width: 300px;
						color: #8f8d8d;
						> ol {
							@media #{$mobile} {
								float: none;
								margin: 0;
							}
							float: left;
							margin-right: 10px;
						}
					} //end of li
				} //end of ul
			} //end of .box_2

			> .box_3 {
				> ul {
					> li {
						@media #{$mobile} {
							display: flex;
							width: 160px;
						}
						width: 500px;
						color: #8f8d8d;
						> ol {
							@media #{$mobile} {
								float: none;
								margin: 0;
							}
							float: left;
							margin-right: 10px;
						}
					} //end of li
				} //end of ul
			} //end of .box_3
		} //end of .container
	} //end of .footer

	> aside {
		@media #{$mobile} {
			display: none;
		}
		position: fixed;
		bottom: 37px;
		right: 37px;

		> .top {
			@media #{$mobile} {
				display: none;
			}
			color: #5f0080;
			font-size: 50px;
		} //end of .top
	} //end of aside
} //end of #wrap
